/*** basic ***/
$white: #ffffff;
$black: #000000;
$red: #ff0000;
$green: #008000;
$blue: #0000ff;

/*** gray ***/
$gray-100: #f9f9f9;
$gray-200: #f2f2f2;
$gray-300: #e5e5e5;
$gray-400: #cccccc;
$gray-500: #898989;
$gray-600: #666666;
$gray-700: #333333;
$gray-800: #111111;

/*** primary ***/
$primary: #0f6fde;
$primary-lightest: #e7f1fc;
$primary-lighter: #b5d2f5;
$primary-darker: #094385;

/*** secondary ***/
$secondary: #05274e;
$secondary-lightest: #f6f8fb;
$secondary-darker: #020e1d;

/*** success ***/
$success-lightest: #e9f3ee;
$success-lighter: #bad9cc;
$success: #208459;
$success-darker: #134f35;

/*** warning ***/
$warning-lightest: #fef7e9;
$warning-lighter: #fce6bb;
$warning: #f5ae23;
$warning-darker: #715204;

/*** alert ***/
$alert-lightest: #faebe7;
$alert-lighter: #f0c0b5;
$alert: #cd3310;
$alert-darker: #7b1f0a;

/*** partner ***/
$partner-lightest: #f3eef6;
$partner-lighter: #d7c6e1;
$partner: #9263ac;
$partner-darker: #4e325d;

/*** state ***/
$state-bluishgray: #a2afd6;
$state-darkgrayblue: #5f6885;
$state-lightblue: #38b1f5;
$state-darkblue: #0e618f;
$state-lightgreen: #7db500;

/*** platform ***/
$platform-1: #1a2e42;
$platform-2: #c0e8f9;

/*** product ***/
$product-work: #6ebede;
$product-meet: #90be95;
$product-sign: #d76968;
$product-media: #e1803b;
$product-connect: #9263ac;
$product-success: #f1f1f2;
$product-suite: #c7c5c7;
$product-save: #eeb186;

/*** file select ***/
$file_select: #73afee;
