@import '@styles/colors';
@import '@styles/breakpoints';

.middle_box {
   border-radius: 8px;
   box-shadow: 0 4px 12px #46515e14;
   width: 50vw;
   text-align: center;
   margin: 0 auto;
   background-color: #fff;
   position: absolute;
   padding: 50px;
}

.middle_box__header {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.middle_box__header div {
   padding: 20px 0;
}

.middle_box__header p {
   text-align: start;
   width: fit-content;
   color: #333;
   font-size: 1rem;
}

.middle_box__header h2 {
   text-align: start;
   width: fit-content;
   color: #333;
}

.horizental-line {
   background-color: #e5e5e5;
   width: 100%;
   margin: 5px;
   height: 2px;
   padding: 0 !important;
}
