@import '@styles/colors';
@import '@styles/breakpoints';

.home__header {
   background-color: $primary-darker;
   text-align: center;
   color: $white;
}

.home__header {
   h1 {
      font-size: 32px;
      font-weight: 400;
      line-height: 36px;
      padding-bottom: 10px;
   }
}

.home__header {
   h3 {
      font-size: 16px;
      font-weight: 300;
   }
}
